# imprting libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"D:\skills certificates\housing_price_dataset.csv")

In [3]:
df.shape

(50000, 6)

In [4]:
df.dtypes

SquareFeet        int64
Bedrooms          int64
Bathrooms         int64
Neighborhood     object
YearBuilt         int64
Price           float64
dtype: object

In [5]:
df.isnull().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

# data preprocessing

# eda

In [6]:
df.isna().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [9]:
df['Neighborhood']=df['Neighborhood'].map({'Rural':1,'Suburb':2,'Urban':3})

In [10]:
df.head()

   SquareFeet  Bedrooms  Bathrooms  Neighborhood  YearBuilt          Price
0        2126         4          1             1       1969  215355.283618
1        2459         3          2             1       1980  195014.221626
2        1860         2          1             2       1970  306891.012076
3        2294         2          1             3       1996  206786.787153
4        2130         5          2             2       2001  272436.239065

## model building

# spliting into input and output

In [11]:
x=df.drop('Price',axis=1)
y=df['Price']

In [12]:
x

       SquareFeet  Bedrooms  Bathrooms  Neighborhood  YearBuilt
0            2126         4          1             1       1969
1            2459         3          2             1       1980
2            1860         2          1             2       1970
3            2294         2          1             3       1996
4            2130         5          2             2       2001
...           ...       ...        ...           ...        ...
49995        1282         5          3             1       1975
49996        2854         2          2             2       1988
49997        2979         5          3             2       1962
49998        2596         5          2             1       1984
49999        1572         5          3             1       2011

[50000 rows x 5 columns]

In [13]:
y

0        215355.283618
1        195014.221626
2        306891.012076
3        206786.787153
4        272436.239065
             ...
49995    100080.865895
49996    374507.656727
49997    384110.555590
49998    380512.685957
49999    221618.583218
Name: Price, Length: 50000, dtype: float64

# spliting into train and test

In [14]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\mahes\anaconda3\new folder\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\mahes\anaconda3\new folder\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\mahes\anaconda3\new folder\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\mahes\anaconda3\new folder\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mahes\anaconda3\new folder\lib\site-packages (from scikit-learn) (2.2.0)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=23)

In [17]:
x_train.shape

(40000, 5)

In [18]:
x_test.shape

(10000, 5)

In [19]:
y_train.shape

(40000,)

In [20]:
y_test.shape

(10000,)

# knn,linear,svn,dt

In [21]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [22]:
knn=KNeighborsRegressor()
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

54247.93901533543

# evalting

# linear regression

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

49403.976927995944

# support vector regression

In [25]:
from sklearn.svm import SVR

In [26]:
sv=SVR()
sv.fit(x_train,y_train)
y_pred=sv.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

73839.27028491662

# decision tree

In [27]:
from sklearn.tree import DecisionTreeRegressor

In [28]:
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

72537.59594117713

# predict

In [29]:
lr.predict([[2750,6,2,3,1947]])[0]

C:\Users\mahes\anaconda3\New folder\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

312775.3381191607

In [30]:
lr.coef_

array([  99.31308607, 5168.85659283, 2625.12603247,  752.26187692,
        -13.64933459])

In [31]:
lr.intercept_

27719.428600462328

In [32]:
# pattern of house price prediction using linear regression
sqft = 2750
bed = 6
bath = 2
nb = 3
year = 1947
price = 99.31308607 * sqft +  5168.85659283 *bed + 2625.12603247*bath +752.26187692* nb -13.64933459 * year + 27719.4286004623
print(price)

312775.33809891227

## pickilng

In [33]:
import pickle

In [34]:
pickle.dump(lr,open("lr.pkl","wb")) # writing as a binary format file

In [35]:
model=pickle.load(open("lr.pkl","rb"))

In [38]:
model.predict([[2750,6,2,3,1947]])

C:\Users\mahes\anaconda3\New folder\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([312775.33811916])